*.o
*.d
*.lo
*.la
*.so
*.so.*
*.conf
*~
*.gz
*.swp

.deps
.libs
.dirstamp

Makefile.in
Makefile

aclocal.m4
autom4te.cache
configure
config.log
config.status
libtool
compile
config.guess
config.sub
depcomp
install-sh
missing

spfs_config.h
spfs_config.h.in
stamp-h1

fuse_client
fuse_stub
tags
